.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.meal-template{
  /* background-color: #282c34; */
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  /* grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto; */
  /* grid-template-columns: 40px 50px auto 50px 40px; */
  /* grid-template-rows: 25% 100px auto; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: block;
  width: auto;
  /* background-color: rgb(135, 167, 135); */
  /* float: center; */
  /* display: block; */

  /* color: red; */
  /* font: orange; */
}

nav a {
  color: white;

}

nav li {
  /* float: center; */
  list-style-type: none;
  /* background-color: rgb(78, 75, 75); */
  display: block;
  color: white;
  /* text-align: center; */
  padding: 14px 16px;
  /* text-decoration: none; */
  /* display: block; */
  /* display: inline; */
  /* padding: 8px; */
  /* background-color: #dddddd; */
  float: left;
}

ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  /* float: left; */
}

.meals-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* float: left; */
}
.recipes-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* float: left; */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.recipes-list {
  /* background-color: rgb(62, 62, 110); */
  /* color: white; */

  /* color: rgb(173, 127, 127); */
  color: black;

}

.meal-li {
  /* background-color: rgb(62, 62, 110); */
  /* background-color: rgb(135, 135, 236); */
  /* color: rgb(173, 127, 127); */
  color: black;

}

